{% extends 'layout.html.twig' %}
{% set url = url ?? '/' %}


{% block title %}
    Reset Password | EtyDict Dictionary and Etymology Explorer
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center flex-column p-5 pt-0">
        <div class="card shadow-sm w-50 p-5 py- mt-5 login-form">
            <h1 class="h2 mb-0 fw-semibold text-center">Reset Password</h1>
            {% if show_reset_form and valid_token is true %}
                <form id="reset-password-form" method="post" action="{{ url }}account/reset-password/?token={{ token }}" class="my-3 d-flex flex-column gap-3 fs-5">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                    <div class="mt-3">
                        <label for="register-password" class="form-label">New Password</label>
                        <div class="input-group">
                            <input id="profile-password" name="editPassword" type="password" class="form-control form-control-lg" placeholder="Password" value="" required>
                            <input type="hidden" id="reset-token" name="token" value="{{ token }}">
                            <button type="button" class="btn btn-outline-secondary password-toggle-btn" aria-controls="profile-password" aria-label="Toggle password visibility">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="form-text text-danger mt-1 d-none" id="password-error">Password must meet all criteria</div>
                    </div>
                    <div>
                        <label for="confirm-password" class="form-label">Confirm Password</label>
                        <input id="confirm-password" name="confirm_password" type="password" class="form-control form-control-lg" placeholder="Confirm password" required>
                        <div class="form-text text-danger mt-1 d-none" id="confirm-password-match-error">Passwords must match</div>
                    </div>
                    {% include 'partials/password_criteria.html.twig' %}
                    <div class="d-flex gap-3 pt-2">
                        <button type="submit" class="btn btn-primary flex-grow-1 fs-5">Update Password</button>
                    </div>
                </form>
                <div class="modal fade" id="reset-success-modal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body text-center pt-4 ">
                                <h3 class="pb-2 fw-semibold">Reset successful</h3>
                                <p class="my-0 fs-5">You can now log in with your new password.</p>
                            </div>
                            <div class="modal-footer justify-content-center border-0 pb-4">
                                <a class="btn btn-primary px-5 fs-5" href="{{ url }}account/login/">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                {% if expired_token %}
                    <div class="alert alert-danger fs-6 p-3 mt-4 mb-0 text-center fw-semibold" role="alert">
                        <p class="m-0 p-0">This token is invalid or has expired.</p>
                        <p class="m-0 mt-1 p-0">Please request a new password reset.</p>
                    </div>
                {% endif %}
                <form id="email-form" class="my-3 d-flex flex-column gap-3" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                    <input type="hidden" name="resetPassword" value="1">
                    <input type="hidden" name="g-recaptcha-response" id="g-recaptcha-response">
                    <div class="fs-5 mt-2 align-items-center text-center mx-auto">
                        <p>Enter the email address associated with your account.</p>
                        <p>You will receive an email with instructions to reset your password.</p>
                    </div>
                    <div>
                        <input id="email" name="email" type="email" class="form-control form-control-lg" placeholder="Email address" required value="{{ email | default('') }}">
                    </div>
                    <div class="d-flex gap-3 pt-2">
                        <button type="submit" href="{{ url }}account/reset-password" class="btn btn-primary flex-grow-1 fs-5">Send Reset Link</button>
                    </div>
                </form>
                <div id="submit-success" hidden>
                    <div class="alert alert-success p-3 m-0 mt-2 text-center" role="alert">
                        <p class="m-0 p-0">If an account with that email exists, a password reset link has been sent.</p>
                    </div>
                    <p class="fs-6 mt-3">For assessment purposes: if the email address exists in the system, you should have automatically downloaded a sample email containing the link.</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://www.google.com/recaptcha/api.js?render=6LdtfCEsAAAAAPoqdfwDkqJ0PxQ5e9M8fadPxdYs"></script>
{% endblock %}