{% set hasWord = word is defined and word %}
{% set ety_url = url ~ 'etymology/?w=' %}
{% set dict_url = url ~ 'dictionary/?w=' %}
{% extends 'layout.html.twig' %}

{% block title %}
	{% if hasWord %}
		{{ word.word|title }}
		Definitions, Meanings, Synonyms, Antonyms | EtyDict
	{% else %}
		EtyDict Dictionary | Definitions, Meanings, Synonyms, Antonyms
	{% endif %}
{% endblock %}

{% block body %}
	<div class="row m-0">
		<aside id="left-side-bar" class="col-xxl-3 col-lg-2 col-md-1"></aside>
		<main class="col-xxl-6 col-lg-8 col-md-10">
			<div id="search-container">{% include 'search.html.twig' %}</div>
			{% if error is defined and error %}
				<div class="container">
					<div class="alert alert-warning" role="alert">
						{{ error }}
					</div>
				</div>
			{% endif %}
			{% if hasWord %}
				<div id="dict-word" class="container fs-5">
					<div class="card shadow-sm p-5 gap-1">
						<div class="card-header bg-white px-5 pb-3">
							<div id="word-header" class="d-flex align-items-center mb-1 gap-5">
								<p id="word-title" class="display-4 fw-bold">{{ word.word|capitalize }}</p>
							</div>
							<div class="d-flex align-items-center gap-4">
								{% if word.ipa is defined and word.ipa %}
									<p class="fs-4 pt-2">IPA:
										<span id="ipa-text" class="fw-semibold">{{word.ipa}}</span>
									</p>
									<button id="ipa-tts-btn" class="mx-4 btn btn-secondary" title="Listen to pronunciation" data-word="{{ word.word }}" type="button">
										🔊
									</button>
								{% endif %}
								{% if ety_available %}
									<button id="ety-btn" class="mx-4 fw-4 btn btn-success" title="Etymology" href="{{ ety_url ~ word.word|replace({' ':'+'}) }}">
										<img src="{{ url }}assets/img/ety-logo.svg" alt="etymology tree" width="24" height="24">&nbsp;
										<span class="">Etymology</span>
									</button>
								{% endif %}
								{% if word.syllables is defined and word.syllables is not null %}
									<p class="mb-0">
										{{ word.syllables }}
										{{ word.syllables == 1 ? 'Syllable' : 'Syllables' }}
									</p>
								{% endif %}
								{% if word.labels is defined and word.labels %}
									<div>
										{% for label in word.labels %}
											<span class="badge bg-light text-dark border">{{ label.name }}
												{% if label.is_dialect %}
													(dialect)
												{% endif %}
											</span>
										{% endfor %}
									</div>
								{% endif %}
							</div>
						</div>
						{% if word.forms is defined and word.forms %}
							{% for form in word.forms %}
								{% set is_last_form = loop.last %}
								<div class="card-body row pb-0 border-bottom">
									<div class="col-md-2 fw-bold px-0 pt-2">
										{{ form.form ?? 'Form'|capitalize  }}
										:
									</div>
									<div class="col-10 px-0">
										<ol class="ps-0">
											{% for meaning in form.meanings %}
												<li class="d-flex flex-column flex-md-row mb-2 pb-1 pt-2 {% if not loop.last %} border-bottom{% endif %}">
													<div class="col-md-7">
														<div class="mb-1 pe-3 d-flex">
															<p>
																<strong>{{ loop.index }}.&nbsp;</strong>
															</p>
															<div>
																<p>{{ meaning.definition }}</p>
																{% if meaning.example %}
																	<p class="fst-italic">“{{ meaning.example }}”</p>
																{% endif %}
																{% if meaning.labels is defined and meaning.labels %}
																	<div class="d-flex flex-wrap gap-2">
																		{% for label in meaning.labels %}
																			<span class="badge bg-secondary-subtle text-dark mb-2">{{ label.name }}
																				{% if label.is_dialect %}
																					(dialect)
																				{% endif %}
																			</span>
																		{% endfor %}
																	</div>
																{% endif %}
															</div>
														</div>
													</div>
													<div class="col-md-5 fs-6 ps-3">
														{% if meaning.synonyms is defined and meaning.synonyms is not empty %}
															<p class="mb-2">
																<strong>Synonyms:</strong>
																{% for synonym in meaning.synonyms %}
																	{% set text = synonym.synonym|trim %}
																	{% if synonym.exists %}
																		<a href="{{ dict_url }}{{ synonym.synonym|replace({' ':'+'}) }}">{{ text }}{% if not loop.last %},{% endif %}</a>
																	{% else %}
																		{{ text }}{% if not loop.last %},{% endif %}
																	{% endif %}
																{% endfor %}
															</p>
														{% endif %}
														{% if meaning.antonyms is defined and meaning.antonyms is not empty %}
															<p class="mb-2">
																<strong>Antonyms:</strong>
																{% for antonym in meaning.antonyms %}
																	{% set text = antonym.antonym|trim %}
																	{% if antonym.exists %}
																		<a href="{{ dict_url }}{{ antonym.antonym|replace({' ':'+'}) }}">{{ text }}{% if not loop.last %},{% endif %}</a>
																	{% else %}
																		{{ text }}{% if not loop.last %},{% endif %}
																	{% endif %}
																{% endfor %}
															</p>
														{% endif %}
													</div>
												</li>
											{% endfor %}
										</ol>
									</div>
								</div>
							{% endfor %}
							{% if word.similar is defined and word.similar %}
								<div class="card-body mt-2 px-0">
									<p>
										<strong>Similar words:</strong>
										{% for similar_word in word.similar %}
											<a href="{{ dict_url ~ similar_word|replace({' ':'+'}) }}">{{ similar_word|trim }}</a>
											{% if not loop.last %},
											{% endif %}
										{% endfor %}
									</p>
								</div>
							{% endif %}
						{% endif %}
					</div>
				</div>
			{% endif %}
		</main>
		<aside id="right-side-bar" class="col-xxl-3 col-lg-2 col-md-1"></aside>
	</div>
{% endblock %}
