{% set url = url ?? '/' %}

<div id="search-container" class="container">
	<div id="search-bar-shell" class="w-100">
		<div id="search-form" class="d-flex flex-column align-items-center py-4">
			<form class="w-50 position-relative" role="search" method="get" action="{{ (dict_url|split('?w='))[0] }}">
				<div class="input-group">
					<input class="form-control fs-5" type="text" name="w" value="" placeholder="Enter a word or phrase">
					<button class="btn btn-primary fs-5" type="submit">Search</button>
				</div>
				<div id="autocomplete-suggestions" class="autocomplete-suggestions position-absolute start-0 w-100 shadow-sm rounded bg-white" aria-live="polite"></div>
				{% if error is defined and error %}
					<div class="mt-4 d-flex justify-content-center mb-0">
						<div class="alert alert-warning fs-5 p-2 text-center w-100 mb-0" role="alert">
							{{ error }}
							{% if suggestions is defined and suggestions %}
								<div class="mt-0 d-flex justify-content-center">
									<div class="text-black fs-5 p-1 text-center w-100" role="alert">
										<span>Did you mean</span>
										<a class="text-decoration-none" href="{{ dict_url ~ suggestions[0]|replace({' ': '+'}) }}">{{ suggestions[0] }}</a>?
									</div>
								</div>
							{% endif %}
						</div>
					</div>
				{% endif %}
			</form>
		</div>
	</div>
</div>
{# {% for suggestion in suggestions %}
	<a class="text-decoration-none" href="{{ dict_url ~ suggestion|replace({' ': '+'}) }}">{{ suggestion }}</a>
	{% if not loop.last %},
	{% endif %}
{% endfor %}? #}
