{% extends 'layout.html.twig' %}
{% set current_query = query|default(query_defaults) %}
{% set has_query_word = current_query.word is not empty %}
{% set results_label = has_query_word ? current_query.word : 'All results' %}
{% set is_auth = user is defined and user %}

{% block title %}
	Search | EtyDict
{% endblock %}

{% block body %}
	<div class="container py-5">
		<h1 class="display-5 fw-bold mb-5 text-center">Advanced Search</h1>
		{% if not has_results %}
			<div class="row g-4 fs-5 col-md-12 col-lg-11 col-xl-9 d-flex flex-column mx-auto">
				<div class="card shadow-sm border-0 p-5">
					<form method="get" action="">
						<div class="mb-4 px-5">
							<input id="search-input" type="text" class="form-control form-control-lg" placeholder="Enter a word or phrase" name="word" value="{{ current_query.word }}"/>
						</div>
						<div class="d-flex justify-content-between px-5">
							<div class="">
								<label class="form-label fw-semibold">Sort by</label>
								<select class="form-select" name="sort">
									<option value="asc" {% if current_query.sort == 'asc' %} selected {% endif %}>Alphabetical, Ascending</option>
									<option value="desc" {% if current_query.sort == 'desc' %} selected {% endif %}>Alphabetical, Descending</option>
								</select>
							</div>
							<div>
								{% if is_auth %}
									<h5 class="fw-semibold">Filter by</h5>
								{% endif %}
								<div class="mb-3 fs-5">
									<input type="hidden" name="filter_fav" value="0"/>
									<input type="hidden" name="filter_viewed" value="0"/>
									{% if is_auth %}
										<div class="form-check">
											<input class="form-check-input" type="checkbox" id="filter-favorites" name="filter_fav" value="1" {% if current_query.filter_fav %} checked {% endif %}/>
											<label class="form-check-label" for="filter-favorites">Favorites</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="checkbox" id="filter-recent" name="filter_viewed" value="1" {% if current_query.filter_viewed %} checked {% endif %}/>
											<label class="form-check-label" for="filter-recent">Recently viewed</label>
										</div>
									{% endif %}
								</div>
							</div>
						</div>
						<div class="mb-3 fs-5 px-5 {% if not is_auth %}pt-3{% endif %}">
							<label class="form-label">Form</label>
							<select class="form-select" aria-label="Filter forms" name="form">
								<option value="all" {% if current_query.form == 'all' %} selected {% endif %}>All</option>
								<option value="adjective" {% if current_query.form == 'adjective' %} selected {% endif %}>Adjective</option>
								<option value="adverb" {% if current_query.form == 'adverb' %} selected {% endif %}>Adverb</option>
								<option value="article" {% if current_query.form == 'article' %} selected {% endif %}>Article</option>
								<option value="interjection" {% if current_query.form == 'interjection' %} selected {% endif %}>Interjection</option>
								<option value="noun" {% if current_query.form == 'noun' %} selected {% endif %}>Noun</option>
								<option value="phrase" {% if current_query.form == 'phrase' %} selected {% endif %}>Phrase</option>
								<option value="preposition" {% if current_query.form == 'preposition' %} selected {% endif %}>Preposition</option>
								<option value="pronoun" {% if current_query.form == 'pronoun' %} selected {% endif %}>Pronoun</option>
								<option value="verb" {% if current_query.form == 'verb' %} selected {% endif %}>Verb</option>
							</select>
						</div>
						<div class="mb-3 fs-5 px-5">
							<label class="form-label">Dialect</label>
							<select class="form-select" aria-label="Filter dialects" name="dialect">
								<option value="all" {% if current_query.dialect == 'all' %} selected {% endif %}>All</option>
								<option value="american" {% if current_query.dialect == 'american' %} selected {% endif %}>American</option>
								<option value="aave" {% if current_query.dialect == 'aave' %} selected {% endif %}>&nbsp;&nbsp;AAVE</option>
								<option value="canadian" {% if current_query.dialect == 'canadian' %} selected {% endif %}>&nbsp;&nbsp;Canadian</option>
								<option value="british" {% if current_query.dialect == 'british' %} selected {% endif %}>British</option>
								<option value="australian" {% if current_query.dialect == 'australian' %} selected {% endif %}>&nbsp;&nbsp;Australian</option>
								<option value="indian" {% if current_query.dialect == 'indian' %} selected {% endif %}>&nbsp;&nbsp;Indian</option>
								<option value="irish" {% if current_query.dialect == 'irish' %} selected {% endif %}>&nbsp;&nbsp;Irish</option>
								<option value="new_zealand" {% if current_query.dialect == 'new_zealand' %} selected {% endif %}>&nbsp;&nbsp;New Zealand</option>
								<option value="south_african" {% if current_query.dialect == 'south_african' %} selected {% endif %}>&nbsp;&nbsp;South African</option>
								<option value="uk" {% if current_query.dialect == 'uk' %} selected {% endif %}>&nbsp;&nbsp;UK</option>
							</select>
						</div>
						<div class="mb-3 fs-5 px-5">
							<label class="form-label">Label</label>
							<select class="form-select" aria-label="Filter labels" name="label">
								<option value="all" {% if current_query.label == 'all' %} selected {% endif %}>All</option>
								<option value="idiom" {% if current_query.label == 'idiom' %} selected {% endif %}>Idiom</option>
								<option value="phrasal_verb" {% if current_query.label == 'phrasal_verb' %} selected {% endif %}>&nbsp;&nbsp;Phrasal verb</option>
								<option value="informal" {% if current_query.label == 'informal' %} selected {% endif %}>Informal</option>
								<option value="offensive" {% if current_query.label == 'offensive' %} selected {% endif %}>&nbsp;&nbsp;Offensive</option>
								<option value="slang" {% if current_query.label == 'slang' %} selected {% endif %}>&nbsp;&nbsp;Slang</option>
								<option value="technical" {% if current_query.label == 'technical' %} selected {% endif %}>Technical</option>
								<option value="legal" {% if current_query.label == 'legal' %} selected {% endif %}>&nbsp;&nbsp;Legal</option>
								<option value="mathematical" {% if current_query.label == 'mathematical' %} selected {% endif %}>&nbsp;&nbsp;Mathematical</option>
								<option value="medical" {% if current_query.label == 'medical' %} selected {% endif %}>&nbsp;&nbsp;Medical</option>
								<option value="scientific" {% if current_query.label == 'scientific' %} selected {% endif %}>&nbsp;&nbsp;Scientific</option>
								<option value="archaic" {% if current_query.label == 'archaic' %} selected {% endif %}>Archaic</option>
								<option value="euphemistic" {% if current_query.label == 'euphemistic' %} selected {% endif %}>Euphemistic</option>
								<option value="formal" {% if current_query.label == 'formal' %} selected {% endif %}>Formal</option>
								<option value="intransitive_verb" {% if current_query.label == 'intransitive_verb' %} selected {% endif %}>Intransitive verb</option>
								<option value="transitive_verb" {% if current_query.label == 'transitive_verb' %} selected {% endif %}>transitive verb</option>
							</select>
						</div>
						<div class="d-flex justify-content-center mt-4 px-5">
							<button type="submit" class="btn btn-primary w-100 fs-4">Search</button>
						</div>
					</form>
				</div>
			</div>
		{% else %}
			<form method="get" action="" class="row g-4 fs-5">
				<div class="col-lg-4">
					<div class="card shadow-sm border-0 p-4">
						{% if is_auth %}
							<h2 class="h4 fw-semibold mb-3 text-center">Filter by</h2>
						{% endif %}
						<div class="mb-3 fs-5">
							<input type="hidden" name="filter_fav" value="0"/>
							<input type="hidden" name="filter_viewed" value="0"/>
							{% if is_auth %}
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="filter-favorites" name="filter_fav" value="1" {% if current_query.filter_fav %} checked {% endif %}/>
									<label class="form-check-label" for="filter-favorites">Favorites</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="filter-recent" name="filter_viewed" value="1" {% if current_query.filter_viewed %} checked {% endif %}/>
									<label class="form-check-label" for="filter-recent">Recently viewed</label>
								</div>
							{% endif %}
						</div>
						<div class="mb-3 fs-5 {% if not is_auth %}pt-3{% endif %}">
							<label class="form-label">Forms</label>
							<select class="form-select" aria-label="Filter forms" name="form">
								<option value="all" {% if current_query.form == 'all' %} selected {% endif %}>All</option>
								<option value="adjective" {% if current_query.form == 'adjective' %} selected {% endif %}>Adjective</option>
								<option value="adverb" {% if current_query.form == 'adverb' %} selected {% endif %}>Adverb</option>
								<option value="article" {% if current_query.form == 'article' %} selected {% endif %}>Article</option>
								<option value="interjection" {% if current_query.form == 'interjection' %} selected {% endif %}>Interjection</option>
								<option value="noun" {% if current_query.form == 'noun' %} selected {% endif %}>Noun</option>
								<option value="phrase" {% if current_query.form == 'phrase' %} selected {% endif %}>Phrase</option>
								<option value="preposition" {% if current_query.form == 'preposition' %} selected {% endif %}>Preposition</option>
								<option value="pronoun" {% if current_query.form == 'pronoun' %} selected {% endif %}>Pronoun</option>
								<option value="verb" {% if current_query.form == 'verb' %} selected {% endif %}>Verb</option>
							</select>
						</div>
						<div class="mb-3 fs-5">
							<label class="form-label">Dialects</label>
							<select class="form-select" aria-label="Filter dialects" name="dialect">
								<option value="all" {% if current_query.dialect == 'all' %} selected {% endif %}>All</option>
								<option value="american" {% if current_query.dialect == 'american' %} selected {% endif %}>American</option>
								<option value="aave" {% if current_query.dialect == 'aave' %} selected {% endif %}>&nbsp;&nbsp;AAVE</option>
								<option value="canadian" {% if current_query.dialect == 'canadian' %} selected {% endif %}>&nbsp;&nbsp;Canadian</option>
								<option value="british" {% if current_query.dialect == 'british' %} selected {% endif %}>British</option>
								<option value="australian" {% if current_query.dialect == 'australian' %} selected {% endif %}>&nbsp;&nbsp;Australian</option>
								<option value="indian" {% if current_query.dialect == 'indian' %} selected {% endif %}>&nbsp;&nbsp;Indian</option>
								<option value="irish" {% if current_query.dialect == 'irish' %} selected {% endif %}>&nbsp;&nbsp;Irish</option>
								<option value="new_zealand" {% if current_query.dialect == 'new_zealand' %} selected {% endif %}>&nbsp;&nbsp;New Zealand</option>
								<option value="south_african" {% if current_query.dialect == 'south_african' %} selected {% endif %}>&nbsp;&nbsp;South African</option>
								<option value="uk" {% if current_query.dialect == 'uk' %} selected {% endif %}>&nbsp;&nbsp;UK</option>
							</select>
						</div>
						<div>
							<label class="form-label">Labels</label>
							<select class="form-select" aria-label="Filter labels" name="label">
								<option value="all" {% if current_query.label == 'all' %} selected {% endif %}>All</option>
								<option value="idiom" {% if current_query.label == 'idiom' %} selected {% endif %}>Idiom</option>
								<option value="phrasal_verb" {% if current_query.label == 'phrasal_verb' %} selected {% endif %}>&nbsp;&nbsp;Phrasal verb</option>
								<option value="informal" {% if current_query.label == 'informal' %} selected {% endif %}>Informal</option>
								<option value="offensive" {% if current_query.label == 'offensive' %} selected {% endif %}>&nbsp;&nbsp;Offensive</option>
								<option value="slang" {% if current_query.label == 'slang' %} selected {% endif %}>&nbsp;&nbsp;Slang</option>
								<option value="technical" {% if current_query.label == 'technical' %} selected {% endif %}>Technical</option>
								<option value="legal" {% if current_query.label == 'legal' %} selected {% endif %}>&nbsp;&nbsp;Legal</option>
								<option value="mathematical" {% if current_query.label == 'mathematical' %} selected {% endif %}>&nbsp;&nbsp;Mathematical</option>
								<option value="medical" {% if current_query.label == 'medical' %} selected {% endif %}>&nbsp;&nbsp;Medical</option>
								<option value="scientific" {% if current_query.label == 'scientific' %} selected {% endif %}>&nbsp;&nbsp;Scientific</option>
								<option value="archaic" {% if current_query.label == 'archaic' %} selected {% endif %}>Archaic</option>
								<option value="euphemistic" {% if current_query.label == 'euphemistic' %} selected {% endif %}>Euphemistic</option>
								<option value="formal" {% if current_query.label == 'formal' %} selected {% endif %}>Formal</option>
								<option value="intransitive_verb" {% if current_query.label == 'intransitive_verb' %} selected {% endif %}>Intransitive verb</option>
								<option value="transitive_verb" {% if current_query.label == 'transitive_verb' %} selected {% endif %}>transitive verb</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="card shadow-sm border-0 p-4">
						<div class="mb-3">
							<input id="search-input" type="text" class="form-control form-control-lg" placeholder="Enter a word or phrase" name="word" value="{{ current_query.word }}"/>
						</div>
						<div class="row gx-3">
							<div class="col-md-6">
								<label class="form-label fw-semibold">Sort by</label>
								<select class="form-select" name="sort">
									<option value="asc" {% if current_query.sort == 'asc' %} selected {% endif %}>Alphabetical, Ascending</option>
									<option value="desc" {% if current_query.sort == 'desc' %} selected {% endif %}>Alphabetical, Descending</option>
								</select>
							</div>
							<div class="col-md-6 d-flex align-items-end justify-content-end">
								<button type="submit" class="btn btn-primary px-5 fs-5">Search</button>
							</div>
						</div>
					</div>
					<div class="mt-4">
						<div class="card shadow-sm border-0">
							<div class="card-body">
								<h2 class="fw-semibold border-bottom pb-4 ms-3 mt-2 mb-3">
									{% if no_results %}
										{% if has_query_word %}No Results for "{{ results_label }}"{% else %}No Results for
											{{ results_label }}
										{% endif %}
									{% else %}
										{% if has_query_word %}Results for "{{ results_label }}"{% else %}All Results
										{% endif %}
									{% endif %}
								</h2>
								{% if no_results %}
									<p class="mb-0 px-4">Try adjusting your filters or search term and try again.</p>
								{% else %}
									<div class="mt-2 px-4">
										{% for result in results %}
											<div class="border-bottom pb-3 mb-3">
												<div>
													<a href="{{ url ~ 'dictionary/?w=' ~ result.word }}" class="fs-3 fw-semibold mb-1 text-decoration-none">{{ result.word }}</a>
												</div>
												{% if result.definition %}
													<p class="my-1">{{ result.definition }}</p>
												{% endif %}
												{% if result.example %}
													<p class="fst-italic">“{{ result.example }}”</p>
												{% endif %}
											</div>
										{% endfor %}
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</form>
		{% endif %}
	</div>
{% endblock %}
